/* ::::: http://aarondancer.com/css/bootstrap.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-family: sans-serif; }
body { margin: 0px; }
a { background: none repeat scroll 0px 0px transparent; }
a:active, a:hover { outline: 0px none; }
h1 { margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { margin: 0px; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
textarea { overflow: auto; vertical-align: top; }
*, *:after, *:before { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
button, input, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(66, 139, 202); text-decoration: none; }
a:focus, a:hover { color: rgb(42, 100, 150); text-decoration: underline; }
a:focus { outline-offset: -2px; }
img { vertical-align: middle; }
.img-circle { border-radius: 50%; }
p { margin: 0px 0px 10px; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 500; line-height: 1.1; color: inherit; }
h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
.h1, h1 { font-size: 36px; }
.h2, h2 { font-size: 30px; }
.h3, h3 { font-size: 24px; }
.h4, h4 { font-size: 18px; }
.h5, h5 { font-size: 14px; }
ol, ul { margin-top: 0px; margin-bottom: 10px; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.container:after, .container:before { display: table; content: " "; }
.container:after { clear: both; }
.row { margin-right: -15px; margin-left: -15px; }
.row:after, .row:before { display: table; content: " "; }
.row:after { clear: both; }
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-12 { width: 100%; }
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); }
.collapse { display: none; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('glyphicons-halflings-regular.eot') format("embedded-opentype"), url('glyphicons-halflings-regular.woff') format("woff"), url('glyphicons-halflings-regular.ttf') format("truetype"), url('glyphicons-halflings-regular.svg') format("svg");
}
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0px; }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius: 4px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-top-right-radius: 0px; border-bottom-left-radius: 4px; border-top-left-radius: 0px; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle { border-bottom-left-radius: 0px; border-top-left-radius: 0px; }
.nav { padding-left: 0px; margin-bottom: 0px; list-style: outside none none; }
.nav:after, .nav:before { display: table; content: " "; }
.nav:after { clear: both; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:focus, .nav > li > a:hover { text-decoration: none; background-color: rgb(238, 238, 238); }
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
.navbar:after, .navbar:before { display: table; content: " "; }
.navbar:after { clear: both; }
.navbar-header:after, .navbar-header:before { display: table; content: " "; }
.navbar-header:after { clear: both; }
.navbar-collapse { max-height: 340px; padding-right: 15px; padding-left: 15px; overflow-x: visible; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
.navbar-collapse:after, .navbar-collapse:before { display: table; content: " "; }
.navbar-collapse:after { clear: both; }
.container > .navbar-collapse, .container > .navbar-header { margin-right: -15px; margin-left: -15px; }
.navbar-static-top { z-index: 1000; border-width: 0px 0px 1px; }
.navbar-brand { float: left; padding: 15px; font-size: 18px; line-height: 20px; }
.navbar-brand:focus, .navbar-brand:hover { text-decoration: none; }
.navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; background-color: transparent; border: 1px solid transparent; border-radius: 4px; }
.navbar-toggle .icon-bar { display: block; width: 22px; height: 2px; border-radius: 1px; }
.navbar-toggle .icon-bar + .icon-bar { margin-top: 4px; }
.navbar-nav { margin: 7.5px -15px; }
.navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; line-height: 20px; }
.navbar-inverse { background-color: rgb(34, 34, 34); border-color: rgb(8, 8, 8); }
.navbar-inverse .navbar-brand { color: rgb(153, 153, 153); }
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-text { color: rgb(153, 153, 153); }
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover { color: rgb(255, 255, 255); background-color: transparent; }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover { color: rgb(255, 255, 255); background-color: rgb(8, 8, 8); }
.navbar-inverse .navbar-toggle { border-color: rgb(17, 20, 28); }
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover { background-color: rgb(17, 20, 28); }
.navbar-inverse .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: rgb(16, 16, 16); }
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
/* ::::: http://aarondancer.com/css/style.css ::::: */

* { padding: 0px; margin: 0px; }
body { color: rgb(255, 255, 255); font-family: "Open Sans",sans-serif; font-weight: 300; position: relative; background: none repeat scroll 0% 0% rgb(0, 0, 0); width: 100%; height: 100%; overflow-y: scroll; overflow-x: hidden; }
a { text-decoration: none; outline: 0px none; }
.col-lg-4, .col-md-4, .col-sm-4, .col-xs-12 { padding-top: 15px; padding-bottom: 15px; }
.wrapper { width: 100%; }
.spHeight { padding-top: 63px; }
.noPadd { padding: 0px ! important; }
.container .row { margin: 0px; }
p { font-family: "Open Sans",sans-serif; font-size: 14px; line-height: 21px; font-weight: 400; padding-bottom: 22px; margin: 0px; }
h1 { font-family: "Open Sans",sans-serif; font-size: 80px; line-height: 90px; font-weight: 700; margin: 0px; padding-bottom: 8px; }
h2 { font-family: "Open Sans",sans-serif; font-size: 36px; line-height: 38px; padding-bottom: 0px; font-weight: 300; text-transform: uppercase; margin: 0px; color: rgb(229, 28, 35); }
h3 { font-family: "Open Sans",sans-serif; font-size: 24px; line-height: 30px; padding-bottom: 6px; font-weight: 400; margin: 0px; }
h4 { font-family: "Open Sans",sans-serif; font-size: 19px; line-height: 24px; padding-bottom: 6px; font-weight: 600; margin: 0px; }
h5 { font-family: "Open Sans",sans-serif; font-size: 16px; line-height: 24px; padding-bottom: 6px; font-weight: 400; margin: 0px; }
h4.subHeading { font-weight: 600; font-size: 18px; padding-bottom: 22px; }
.heading { text-align: center; padding-bottom: 45px; }
.topmar { margin-top: 20px; }
header { position: relative; }
.banner { overflow: hidden; margin: 0px auto ! important; background: none repeat scroll 0% 0% rgb(202, 202, 202); }
.bannerText { position: absolute; left: 0px; right: 0px; top: 35%; text-align: center; padding: 30px 0px; max-width: 960px; color: rgb(255, 255, 255); }
.bannerText h1 { text-transform: uppercase; }
.bannerText h2 { font-size: 34px; text-transform: none; color: rgb(255, 255, 255); }
.bannerPart { height: 100%; overflow: hidden; }
.bgwidth { width: 100%; }
.bannerPart { background: none repeat scroll 0% 0% rgb(27, 31, 43); }
.bannerPart img { opacity: 0.2; }
.isStuck { left: 0px; width: 100%; }
.menu { margin-top: 0px; position: static; left: 0px; right: 0px; }
.navwrapper .container { padding: 0px; width: auto; }
.navbar-header { display: none; }
.nav > li > a { display: inline-block; }
.navbar-nav > li { float: none; display: inline; }
.navbar-nav { margin: 0px auto; text-align: center; float: none; }
.navbar-toggle { margin-top: 14px; }
.navbar-inverse .navbar-toggle { border: 0px none; }
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle:hover { background: none repeat scroll 0px 0px transparent; }
.navbar-wrapper { margin-top: 0px; position: relative; z-index: 15; background: none repeat scroll 0% 0% rgb(2, 136, 209); }
.navbar-collapse, .navbar-wrapper .container { padding: 0px; }
.navbar.navbar-inverse.navbar-static-top { margin: 0px auto; background: none repeat scroll 0px 0px transparent; color: rgb(255, 255, 255); border: medium none; font-family: "Open Sans",sans-serif; font-size: 14px; text-transform: uppercase; }
.navbar.navbar-inverse.navbar-static-top a { color: rgb(255, 255, 255); padding: 22px 25px; line-height: 18px; text-align: center; }
.navbar.navbar-inverse.navbar-static-top a:hover { color: rgb(255, 255, 255); }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus { background: none repeat scroll 0% 0% rgb(2, 119, 189); color: rgb(255, 255, 255); }
.navbar-inverse .navbar-nav > .active > a:hover { background: none repeat scroll 0% 0% rgb(1, 87, 155); color: rgb(255, 255, 255); }
.aboutme { background: none repeat scroll 0% 0% rgb(3, 155, 229); color: rgb(255, 255, 255); position: relative; }
.aboutme .container { padding-top: 85px; padding-bottom: 93px; }
.aboutme h2 { color: rgb(255, 255, 255); }
.BntDownload { font-size: 16px; font-family: "Open Sans",sans-serif; font-weight: 700; background: none repeat scroll 0% 0% rgb(221, 25, 29); padding: 16px 22px; display: inline-block; color: rgb(255, 255, 255); }
.BntDownload:hover { background: none repeat scroll 0% 0% rgb(208, 23, 22); color: rgb(204, 204, 204); text-decoration: none; }
.img-circle { border: 5px solid rgb(255, 255, 255); }
.technical { background: none repeat scroll 0% 0% rgb(238, 238, 238); color: rgb(71, 77, 93); }
.technical .container { padding-top: 85px; padding-bottom: 69px; }
.experience { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.experience .container { padding-top: 85px; padding-bottom: 90px; }
.experience h2 { color: rgb(229, 28, 35); }
.experience h4 { font-weight: 700; }
.workDetails .rightArea { border-left: 1px solid rgb(234, 234, 234); padding-bottom: 47px; }
.workDetails:last-child .rightArea { padding-bottom: 0px; }
.workYear { font-size: 17px; color: rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(229, 28, 35); text-align: center; width: 120px; height: 120px; padding: 38px 0px 40px; box-shadow: 0px 0px 15px rgb(170, 170, 170); border-radius: 50%; }
.exCon { width: auto; background: none repeat scroll 0% 0% rgb(243, 243, 243); padding: 22px 47px 6px; margin-left: 15px; text-align: left; box-shadow: 0px 5px 10px rgb(221, 221, 221); }
.exCon p, .exCon ul { color: rgb(132, 134, 141); line-height: 21px; }
.exCon h4 { color: rgb(71, 77, 93); padding-bottom: 3px; }
.exCon h5 { color: rgb(71, 77, 93); }
.education { background: none repeat scroll 0% 0% rgb(238, 238, 238); }
.education .container { padding-top: 85px; padding-bottom: 90px; }
.education h4 { font-weight: 700; }
.education .arrowpart { background: url('arrow-left-light.png') no-repeat scroll 0px 23px transparent; }
.education .exCon { background: none repeat scroll 0% 0% rgb(250, 250, 250); }
.education .workDetails .rightArea { border-left-color: rgb(229, 228, 228); }
.education .workYear { box-shadow: 0px 0px 15px rgb(170, 170, 170); }
.portfolio { background: none repeat scroll 0% 0% rgb(3, 155, 229); }
.portfolio .container { padding-top: 85px; padding-bottom: 90px; }
.portfolio h2 { color: rgb(255, 255, 255); }
.portfolio h3 { color: rgb(0, 0, 0); }
.portfolio .exCon { width: auto; background: none repeat scroll 0% 0% rgb(254, 254, 254); padding: 20px; margin-left: 15px; text-align: left; box-shadow: 0px 2px 15px rgb(102, 102, 102); }
.award { background: none repeat scroll 0% 0% #ECE4D4 }
.contact { background: none repeat scroll 0% 0% rgb(66, 66, 66); }
.contact .container { padding-top: 85px; padding-bottom: 90px; }
.contact p { color: rgb(132, 134, 141); line-height: 18px; }
.contact h2 { color: rgb(3, 169, 244); }
.contact h4 { font-weight: 700; }
.conForm input { background: none repeat scroll 0% 0% rgb(117, 117, 117); color: rgb(147, 149, 156); padding: 15px 30px; border: medium none; margin-right: 3%; margin-bottom: 30px; outline: 0px none; font-style: italic; }
.conForm input.noMarr { margin-right: 0px; }
.conForm textarea { background: none repeat scroll 0% 0% rgb(117, 117, 117); color: rgb(147, 149, 156); padding: 15px 30px; border: medium none; margin-bottom: 40px; outline: 0px none; height: 100px; font-style: italic; }
.conForm .submitBtn { font-size: 16px; font-family: "Open Sans",sans-serif; font-weight: 500; background: none repeat scroll 0% 0% rgb(221, 25, 29); color: rgb(255, 255, 255); float: right; margin-right: 0px; }
.conForm .submitBtn:hover { background: none repeat scroll 0% 0% rgb(208, 23, 22); color: rgb(204, 204, 204); text-decoration: none; }
.footer { background: none repeat scroll 0% 0% rgb(3, 169, 244); }
.footer .container { padding: 40px 0px; }
.footer ul { margin: 0px auto; text-align: center; list-style-type: none; }
.footer ul li { display: inline-block; text-align: center; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(3, 169, 244); line-height: 42px; margin: 0px 6px; width: 42px ! important; height: 42px ! important; border-radius: 50%; }
.footer ul li:hover { background: none repeat scroll 0% 0% rgb(2, 136, 209); }
.footer ul li:hover a { color: rgb(255, 255, 255); }
.footer ul li a { color: rgb(3, 169, 244); width: 42px ! important; height: 42px ! important; }
@media screen and (min-width: 1200px) {
	.workYear { width: 140px; height: 140px; padding-top: 50px; }
}
@media screen and (max-width: 991px) {
	.navbar.navbar-inverse.navbar-static-top a { padding-left: 18px; padding-right: 18px; }
	.bannerText { padding-left: 25px; padding-right: 25px; }
	.bannerText h1 { font-size: 65px; line-height: 71px; }
	.bannerText h2 { font-size: 28px; }
	.proPic { text-align: center; }
}
@media screen and (max-width: 810px) {
	body { min-height: 700px; }
	.navbar.navbar-inverse.navbar-static-top a { padding-left: 17px; }
}
@media screen and (min-width: 768px) {
	.conForm input.col-lg-6, .conForm input.col-sm-6 { width: 48.5%; }
}
@media screen and (max-width: 768px) {
	.navbar-wrapper .container, .navwrapper .container { padding-right: 15px; padding-left: 15px; }
}
@media screen and (max-width: 767px) {
	.navbar-header { display: block; }
	.workYear { margin: 0px auto; }
	.workDetails .rightArea { border-left: medium none; }
	.arrowpart { float: none; width: 100%; height: 40px; background: url('arrow-top.png') no-repeat scroll 50% 100% transparent; }
	.education .arrowpart { background: url('arrow-top-light.png') no-repeat scroll 50% 100% transparent; }
	.exCon { margin-left: 0px; }
	ul.navbar-nav li a { display: block; }
}
@media screen and (max-width: 650px) {
	#wrapper { top: 200px ! important; }
	.bannerText { top: 25%; padding-top: 15px; padding-bottom: 15px; }
	.bannerText h1 { font-size: 42px; line-height: 48px; }
	.bannerText h2 { font-size: 18px; line-height: 24px; }
}
@media screen and (max-width: 480px) {
	.navbar.navbar-inverse.navbar-static-top a { line-height: 17px; padding-top: 11px; padding-bottom: 11px; }
}
@media screen and (max-width: 400px) {
	.aboutme img, ul.portfolioContainer li.col-xs-6 { width: 100%; }
	.BntDownload { font-size: 13px; padding: 16px 14px; }
	.conForm textarea { margin-bottom: 20px; }
}
/* ::::: http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,800,300 ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoategdm0lzdjqr5-oayxsoefg.woff2') format("woff2"), url('dxi1orhcpsqm3vp6mxoatxhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3vtxra8tvwticgirnjhmvjw.woff2') format("woff2"), url('cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsugdm0lzdjqr5-oayxsoefg.woff2') format("woff2"), url('mtp_ysujh_bn48vbg8snsnhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzogdm0lzdjqr5-oayxsoefg.woff2') format("woff2"), url('k3k702zokiljc3wvjuplzhhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url('einbv5dfghoimmvb1xr-hugdm0lzdjqr5-oayxsoefg.woff2') format("woff2"), url('einbv5dfghoimmvb1xr-hnhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url('prmixeptr36kac0geaetxko2ltmewa_kmiywrkncwpc.woff2') format("woff2"), url('prmixeptr36kac0geaetxh_xhqygav9bl_zqbyuxnqu.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url('xjajxh38i15wypjxxugmbo4p5icox8kq3llunmylgo4.woff2') format("woff2"), url('xjajxh38i15wypjxxugmbobn6udyhwbl620a-irfubk.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600;
	src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url('prmixeptr36kac0geaetxl2umoyru7pgriv8dxcgjjk.woff2') format("woff2"), url('prmixeptr36kac0geaetxn5hxgbcbviccptp6sphfno.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url('prmixeptr36kac0geaetxolizu-hdpmdizmigmsroc4.woff2') format("woff2"), url('prmixeptr36kac0geaetxjqr_3kx9_hjxbbyu8s6in0.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 800;
	src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url('prmixeptr36kac0geaetxnibbpxglhk_utt48umyjsm.woff2') format("woff2"), url('prmixeptr36kac0geaetxkcde67gegbv_hnyvhtfdew.woff') format("woff");
}
/* ::::: http://aarondancer.com/css/font-awesome.css ::::: */

@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: 400;
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: 400; }
.fa-lg { font-size: 1.33333em; line-height: 0.75em; vertical-align: -15%; }
.fa-envelope-o:before { content: ""; }
.fa-twitter:before { content: ""; }
.fa-facebook:before { content: ""; }
.fa-github:before { content: ""; }
.fa-linkedin:before { content: ""; }
.fa-mobile-phone:before, .fa-mobile:before { content: ""; }
.fa-2x, .fa-stack-2x { font-size: 2em; }
/* ::::: http://aarondancer.com/css/jquery-ui-1.8.16.custom.css ::::: */

button.ui-button::-moz-focus-inner { border: 0px none; padding: 0px; }
